[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dds_import_export
X-Python-2-Compatible=false
Name=DDS Import/Export
Comment=Import and export DDS files using Pillow
